.hidden {
  display: none;
}

.chart-item-form .chart-container {
  min-height: 70px;
  margin: 15px 0 5px 0;
  padding: 5px 5px 5px 30px;
  position: relative;
}

.chart-item-form .chart-container.first {
  padding: 5px 5px 5px 0;
}

.chart-item-form .chart-container:hover {
}

.page-chart .chart-button input,
.page-node-chart .chart-button input {
  width: 60px;
  min-width: 60px;
  text-align: center;
  font-weight: bold;
}

.chart-item-form .chart-container .chart-level {
  color: #ccc;
  font-size: 60px;
  right: 0;
  position: absolute;
  top: -20px;
  z-index: -10;
}

.chart-item-form .first .chart-children {
  border-top: 2px solid #ccc;
  margin: 0;
}

.chart-item-form .chart-actions {
  min-height: 40px;
}

.chart-item-form .chart-actions .expand {
  background-image: url(../img/down-arrow-full.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  cursor: pointer;
  width: 45px;
  height: 25px;
  border: none;
  color: transparent;
  left: 20px;
  margin-top: 5px;
  position: relative;
  min-width: 0;
  border-radius: 0;
}

.chart-item-form .chart-actions .expand:hover {
  background-image: url(../img/down-arrow-full-hover.png);
  background-color: transparent;
}

.chart-item-form .chart-actions-main {
  min-height: 0;
}

.chart-item-form .chart-actions .form-item {
  display: inline-block;
  margin: 0;
  float: right;
}

.chart-item-form .chart-children {
  padding-top: 10px;
  position: relative;
}

.chart-item-form .chart-children .arrow {
  position: absolute;
  top: -2px;
  left: 17.5px;
  display: block;
  width: 45px;
  height: 25px;
  background: #ffffff url("../img/down-arrow.png") no-repeat;
  background-size: 100% 100%;
}

.chart-item-form .chart-actions-main .form-item {
  /*Main actions*/
  float: left;
}

.page-chart .chart-button,
.page-node-chart .chart-button {
  display: inline-block;
  background-color: #eee;
  border: none;
  text-decoration: none;
  min-width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 2px 5px 2px 0;
  padding: 0 5px;
  color: #ccc;
}
.page-chart .chart-button:hover,
.page-node-chart .chart-button:hover {
  background-color: #ccc;
  color: #000;
}

/* When viewed by a mobile device. */
@media screen and (max-width: 768px) {
  .page-chart .chart-button,
  .page-node-chart .chart-button {
    background-color: #ccc;
    color: #000;
  }
}

@media screen and (min-width: 769px) {
  .page-chart .chart-button.toggle-actions,
  .page-node-chart .chart-button.toggle-actions {
    display: none;
  }
}

.chart-item-form .not-first .chart-wrapper {
  margin-left: 40px;
}

.chart-item-form .chart-button.hidden, .chart-item-form .chart-container.hidden {
  display: none;
}

.confirm-dialog .description {
  text-align: center;
  font-size: 22px;
  color: #ccc;
}

.confirm-dialog .actions {
  position: relative;
  text-align: center;
}

.confirm-dialog .actions .form-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.confirm-dialog .actions .button,
.container-new .actions .button {
  display: inline-block;
  background-color: #eee;
  border: none;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 2px 10px 2px 0;
  padding: 0;
  color: #888;
  font-size: 22px;
}

.confirm-dialog .actions .button:hover,
.container-new .actions .button:hover {
  background-color: #ccc;
}

.confirm-dialog .actions input.button {
  margin: 0px 10px 2px 0;
}
